@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {
	font-family: 'Montserrat';
}

body, html{
	font-family: 'Playball', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	overflow-x: hidden;
}

@media (min-width: 1200px){
	.container {
	width: 1200px;
	}
}

h1{
	text-transform: uppercase;
}

@media(min-width: 768px) {
	h1 {
		font-size: 48px;
	}
}

h2{
	/*line-height: 20px;*/
	margin:  20px 0;
}

h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: rgb(47, 147, 123);
}

p{
	font-size: 16px;
}

@media(min-width: 768px) {
	p {
		font-size: 16px;
	}
}

a { 
	color: #ffffff;
	transition: all 0.8;
}
a:hover,
a:focus{
	color: #2F937B;
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* Home Style */
#tf-home{
	background: url(../img/clouds.jpg);
	/*background: skyblue;*/
	background-size: cover;
	background-position: bottom;
/*	background-attachment: fixed;*/
	background-repeat: no-repeat;
	color: #eee;
}

#tf-home .overlay {
	background: rgba(255,255,255,0.1);
	height: auto;
	background-attachment: fixed;
}

.content {
	padding: 20% 0 25% 0;
	text-align: center;
}

/* Navigation */
#tf-menu {
	margin-bottom: 0;
	background: rgba(0, 97, 153, 0.9);
	border: 0;
	color: #fff !important;
	padding: 0;
	transition: all 0.5s;
}

@media(min-width: 768px) {
	#tf-menu {
		background: transparent;
	}
}

#sticky {
    padding: 0.5ex;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}
#tf-menu.stick {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #222222;
    background: rgba(0, 97, 153, 0.9);
}

@media(min-width: 768px) {
	#tf-menu.stick {
    padding: 8px 0;
  }
}

#tf-menu.navbar-default .navbar-nav > li > a {
	color: rgb(0,0,100);
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover, 
#tf-menu.navbar-default .navbar-nav > li > a:focus {
	color: #2F937B;
	color: #7bf;
	color: white;
	/*background-color: white;*/
}

.whiteFont {
	color: white !important;
}

.whiteFont:hover {
	color: darkblue !important;
}

#homeContentDiv {
	padding: 7% 0;
}

#logo {
/*	color: white;
	font-weight: 600;
	font-size: 22px;*/
	margin: 0;
	padding: 0;
	position: fixed;
	left: 5px;
	top: 5px;
}

@media(min-width: 768px) {
	#logo {
		/*display: none;*/	
	}
}

#logo.stick {
	display: initial;
}

.logoPicSmall {
	width: 40%;
}

.invisible {
	display: initial;
}


@media (min-width: 768px) {
	.logoPicSmall {
		width: 55%;
	}

	.invisible {
		display: none;
	}
}

#logo2 {
	width: 80%;
	margin: 5% 10%;
}

@media(min-width: 480px) {
	#logo2 {
		width: 70%;
		margin: 5% 15%;
	}
}

@keyframes dirtRemoval {
    from {left: -35vw;}
    to {left: 102vw;}
}

#whiteDirt, #squeegee {
	position: fixed;
	width: 150vw;
	left: 102vw;
	top: 0;
	animation-fill-mode: backwards;
  animation-timing-function: linear;
  overflow: hidden;
}

#whiteDirt {	
	filter: opacity(.7);
	height: 95%;
	margin-top: .5%;
	animation-name: dirtRemoval;
  animation-duration: 2.3s;
  animation-delay: 1.5s;
}

@keyframes squeegee {
    0%   {left: 102vw;}
    25%  {left: -35vw;}
    100%  {left: 102vw;}
}

#squeegee {
	height: 97%;
  animation-name: squeegee;
  animation-duration: 3s;
  animation-delay: .8s;
}

@media(max-width: 767px) {
	#whiteDirt {	
		animation-duration: 1.5s;
	  animation-delay: 1.3s;
	}
	#squeegee {
	  animation-duration: 2s;
	}
}

#tf-service{
	padding: 1% 0; 
}

 h3 {
	font-size: 42px;
	text-align: center;
	margin: 4% auto;
}

.media-left.media-middle i {
	padding: 20px 30px 20px 0;
	font-size: 30px;
	color: rgb(47, 147, 123);

}

.media-body h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: rgb(47, 147, 123);
}

.section-title hr {
	border-color: rgb(47, 147, 223);
	width: 160px;
}

.section-title h2 { 
	font-weight: 700;
}

button.btn, a.btn {
	margin: 15px 5px;
	transition: all 0.5s;
}
button.btn.btn-primary.my-btn,
a.btn.btn-primary.my-btn {
	background: #2F937B;
	background: rgba(47, 167, 223, 0.8);
	border-color: white;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: 55px;
}
button.btn.btn-primary.my-btn:hover,
a.btn.btn-primary.my-btn:hover{
	background: white;
	color: darkblue;
}
button.btn.btn-primary.my-btn.dark:hover,
a.btn.btn-primary.my-btn.dark:hover{
	background: #222222;
	color: #ffffff;
	border-color: transparent;
}

a.btn.btn-primary.my-btn2 {
	background: white;
	border-color: #FFFFFF;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	color:steelblue;
	/*margin: 55px;*/
}

#requestQuoteBtn, #aboutUsBtn {
	margin: 50px 10px 50px 10px;
}

@media(max-width: 479px) {
	#requestQuoteBtn {
		display: block;
		margin: 0 22% 50px 22%;
		width: 56%;
	}
}

a.btn.btn-primary.my-btn2:hover {
	background: darkblue;
	color: white;
}
@media(min-width: 768px) {
	#navbarContainer {
		width: 96%;
		margin: 0 2%;
	}
}

@media(max-width: 991px) {
	.media-heading {
	  margin-top: 40px;
	  margin-bottom: 0;
	  text-align: center;
	}
}

ul.cat.list-inline li a {
	border: 1px solid #2F937B;
	padding: 5px 15px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #2F937B;
	transition: all 0.5s;
}

ul.cat.list-inline li a:hover{
	background: #2F937B;
	color: #ffffff;
}

.toppadding{ padding-top: 30px}
.nopadding{ padding:  0;}

#tf-about{
	background: url(../img/windowbg2.png);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding: 50px 0;
}	
	.space{ padding: 20px}


#tf-about .overlay{
	height: auto;
	/*background-attachment: fixed;*/
	padding: 5% 0;
}

#aboutHeading {
	padding-top: 50px;
}

#tf-why-me{
	background: url(../img/windowbg3.png);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #222;
	padding: 4% 0;
}

#tf-why-me .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 5% 0;
}
ul.why-me li{
	margin: 10px 0;
}
#tf-contact{
	padding: 5% 0;
	text-align: center;
}

@media(min-width: 480px) {
	#tf-contact {
		background: url(../img/phonebg.jpg);
		background-size: cover;
		background-position: center;
	}
}

#contactInfo h2 {
	font-size: 40px;
	font-style: italic;
}
#contactInfo p {
	font-size: 24px;
	color: rgb(0,43,150);
}

@media(max-width: 991px) {
	#contactInfo {
		width: auto;
		padding-bottom: 50px;
	}
}

form#contact {
	padding: 5%;
	background: #f1f1f1;
	outline: 6px solid rgba(34, 34, 34, 0.08);
}

.section-title h3 {
	margin-top: 0;
}

#tf-contact input.form-control {
	height: 40px;
}

#tf-contact .form-control{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 16px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #FFF;
	border-radius: 0;
	border-top: 2px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: all 0.8s;
}
#tf-contact .form-control:focus,
#tf-contact .form-control:hover{
	border-top: 2px solid #2F937B;
}

#submitBtn {
	margin-top: 20px;
}

nav#tf-footer {
	background: #222222;
	background: rgba(0, 67, 123, 0.8);
	padding: 2% 0 1% 0;
	color: #f1f1f1;
	text-align: center;
}

.socialLinksDiv {
	text-align: center;
}

.addressDiv {
	display: block;
}

.address {
	font-size: 16px;
}

.copyright {
	font-size: 12px;
	margin-top: 25px;
}

@media(min-width: 992px) {

	#footerContainer {
		margin: 0 auto;
	}

	.addressDiv {
		display: inline-block;
		/*padding-left: 25px;*/
	}

	.address {
		display: inline-block;
		padding: 0 5px;
	}

	.socialLinksDiv {
		float: right;
	}

	.copyright {
		float: left;
		margin-top: 0;
	}

}